body {
  text-align: center;
  background-image: url(".../images/india.jpg");
  background-size: cover;
  color: #fff;
  font-family: Gotham, sans-serif;
  font-weight: lighter;
  font-size: 30px;
}
#slogan {
	font-size: 50px;
	font-weight: bold;
}
hr {
  width: 700px;
}
ul {
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 350px;
	margin: 0 auto;
}
li {
	display:inline;
}
h1{
	font-family: 'Happy Monkey', cursive;
	font-size: 80px;
}
h2 {
  font-size: 40px;
  font-weight: lighter;
}
p  {
	font-family: ;
	font-size: 40px;
	font-weight: bold;
}
a {
	color: black;
}
a:visited {
	color:purple;
}
